.todo__list-item {
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-delete {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3f72af;
    margin: 0 0 0 30px;
    color: #fff;
  }
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", Helvetica, sans-serif;
  &_done {
    text-decoration: line-through;
  }
}
